@font-face
  src url('../fonts/an.ttf') format("truetype")
  font-size normal
  font-family an
  font-weight normal

@font-face
  src url('../fonts/an-b.ttf') format("truetype")
  font-size normal
  font-family an-b
  font-weight normal
