.header
  height 80px
  overflow hidden

  &:not(._ie)
    filter blur(10px)
    background url(../images/wallpaper.png) center 94% no-repeat fixed
    margin-top -10px

  &._ie
    background url(../images/blur.png) center 0 no-repeat fixed