.header
  height 80px
  overflow hidden

  &:not(._ie)
    filter blur(5px)
    background url(../images/wallpaper.png) center 0 no-repeat fixed
    background-size cover

  &._ie
    background url(../images/blur.png) center 0 no-repeat fixed
    background-size cover