.main-content
  color font-color
  text-align center
  background-color back-color
  padding 50px 0 50px 0

  &__h1
    padding 0 0 10px 0
    font-family an-b

  &__border
    height 3px
    margin 0 auto 37px auto
    max-width 400px
    background radial-gradient(50% 100%, border-color, #fff)

  &__p
    margin 0 auto
    padding 0 30px 0 30px
    max-width 700px
    text-align left
    font-family an
